.homeSplashBanner {
    width: 100%;
    height: 80vh;
    background:url('../images/home-banner-old.jpg');
    background-position: bottom;
    background-size: cover;
}

.splashContentContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
