.homeSplashBanner {
    background-position: bottom;
    background-size: cover;
}

.splashContainer {
    padding: 0;
    width: 100%;
    height: 80vh;
    display: flex;
}

.splashImage {
    background:url('../images/4.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15%;
}

.splashContent {
    padding: 10% 2.5%;
    background-color: $primaryColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splashLogo {

}
