@import 'hamburger';

.navbar{
    box-sizing: border-box;
    padding: 15px 0;
    color: $primaryColour;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navList {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 100px 30px;
    background-color: white;
}

a {
    text-decoration: none;
}

.listItem {
    padding: 20px;
    font-family: $secondaryFont;
    font-size: 30px;
    text-decoration: none;
    color: $primaryColour;
}

.itemContainer {

    &:hover > a {
        opacity: 0.5;
        transition: $defaultTiming;

        &:hover {
            opacity: 1;
            transition: $defaultTiming;
        }
    }
}

@media screen and (min-width: $lWidth) {

    .navbar {
        position: static;
    }

    .navIcon {
        display: none;
    }

    .listItem {
        padding: 25px 15px;
        font-size: 22px;
    }

    .navList {
        position: static;
        display: block !important;
        background: transparent;
        padding: 0;
        height: auto;

        a {
            display: inline-block;
        }

        .center {
            @include fullCenterRight;
        }

        .cover {
            height: auto;
            width: auto;
        }
    }

}
