$defaultTiming: 0.35s;

$defaultRadius: 3px;

$primaryColour: #236288;
$secondaryColour: #1D6080;
$darkColour: #383838;
$highlightColour: yellow;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'ABeeZee', sans-serif;
