@import 'mixins';
@import 'grid';
@import 'variables';
@import 'reset';

@import 'nav';
@import 'footer';

@import 'home';

//

::-moz-selection { background: $primaryColour; color: white; }
::selection { background: $primaryColour; color: white; }

a {
    &:focus {
        outline: 0;
    }
}

//

.alignLeft {
    @include fullCenterLeft;
}

.alignRight {
    @include fullCenterRight;
}

.textAlignRight {
    text-align: right;
}

@media screen and (min-width: $mWidth) {

    .mAlignLeft {
        @include fullCenterLeft;
    }

    .mAlignRight {
        @include fullCenterRight;
    }

}

//

.cover {
    width: 100%;
    height: 100%;
}


// Flexbox

.flex {
    display: flex;
}

.center {
    @include fullCenter;
}

.flexColumn {
    flex-direction: column;
}

.flex {
    display: flex;
}


// Colours

.primaryColour {
    color: $primaryColour;
}

.secondaryColour {
    color: $secondaryColour;
}

.white {
    color: white;
}

.darkColour {
    color: $darkColour;
}

.highlight {
    color: $highlightColour;
}

.backPrimary {
    background-color: $primaryColour;
}

.backDark {
    background-color: $darkColour;
}


// Text

.heading {
    font-family: $primaryFont;
}

.headingMaori {
    font-family: $secondaryFont;
    font-size: 30px;
}

.headingMain {
    font-weight: 500;
    font-size: 70px;
    line-height: 1.5;
}

.headingPrimary {
    font-weight: 500;
    font-size: 60px;
}

.subHeading {
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.5;
}

.paragraph {
    font-family: $secondaryFont;
    font-size: 18px;
    line-height: 1.5;
}

// Buttons

.button {
    font-family: $primaryFont;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: $defaultTiming;
    padding: 12px 25px;

    &:hover {
        transition: $defaultTiming;
    }
}

.btnPrimary {
    border: 1px solid $darkColour;
    background: $darkColour;
    color: white;
    box-shadow: 0 0 0 rgba(256,256,256,1);

    &:hover {
        box-shadow: 10px 10px 0 rgba(256,256,256,1);
    }
}


// Spacing

.marginVert20 {
    margin: 20px 0;
}

.paddingHor10 {
    padding: 0 10%;
}

.paddingHor15 {
    padding: 0 15%;
}

.paddingVert2 {
    padding: 2.5% 0;
}

.paddingR5 {
    padding-right: 5%;
}

.paddingL5 {
    padding-left: 5%;
}

.sectionMargin {
    margin: 10% 0;
}

.paddingX15Y2 {
    padding: 2% 15%;
}

.maxWidth35 {
    max-width: 35%;
}

.map {
    width: 500px;
    height: 500px;
}

.img {
    max-width: 400px;
}

.shadowRight {
    box-shadow: 75px -75px 0 rgba(35,98,136,1);
}

.shadowLeft {
    box-shadow: -75px -75px 0 rgba(35,98,136,1);
}

.input {
    border: 0;
    background: white;
    color: $darkColour;
    padding: 15px 20px;
    margin: 5px 0;
    width: 100%;
    transition: $defaultTiming;

    &:focus {
        width: 110%;
        transition: $defaultTiming;
    }
}
