@import 'mixins';
@import 'grid';
@import 'variables';
@import 'nav';
@import 'reset';

@import 'home';

//

::-moz-selection { background: $primaryColour; color: white; }
::selection { background: $primaryColour; color: white; }

a {
    &:focus {
        outline: 0;
    }
}

//

.alignLeft {
    @include fullCenterLeft;
}

.alignRight {
    @include fullCenterRight;
}

@media screen and (min-width: $mWidth) {

    .mAlignLeft {
        @include fullCenterLeft;
    }

    .mAlignRight {
        @include fullCenterRight;
    }

}

//

.cover {
    width: 100%;
    height: 100%;
}

.center {
    @include fullCenter;
}

.primaryColour {
    color: $primaryColour;
}

.secondaryColour {
    color: $secondaryColour;
}

.white {
    color: white;
}

.darkColour {
    color: $darkColour;
}

.highlight {
    color: $highlightColour;
}

.heading {
    font-family: $primaryFont;
}

.headingMaori {
    font-family: $secondaryFont;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: $highlightColour;
}

.headingMain {
    font-weight: 500;
    font-size: 80px;
}

.headingPrimary {
    font-weight: 500;
    font-size: 60px;
}

.subHeading {
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.5;
}

.paragraph {
    font-family: $secondaryFont;
    font-size: 18px;
    line-height: 1.5;
}

.button {
    font-family: $primaryFont;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: $defaultTiming;
    padding: 12px 25px;

    &:hover {
        transition: $defaultTiming;
    }
}

.btnPrimary {
    border: 1px solid $darkColour;
    background: $darkColour;
    color: white;
    box-shadow: 0 0 0 rgba(256,256,256,1);

    &:hover {
        box-shadow: 10px 10px 0 rgba(256,256,256,1);
    }
}

.marginVert20 {
    margin: 20px 0;
}

.paddingHor10 {
    padding: 0 10%;
}

.sectionMargin {
    margin: 10% 0;
}

.imgFront {
    position: absolute;
    overflow: hidden;
    background-image: url('../images/imgTest.jpg');
    background-size: cover;
    background-position: center;
    min-height: 30em;
    max-height: 35em;
    width: 20em;
}

.relative{
    position: relative;
}

.imgBehind {
    position: relative;
    z-index: -1;
    top: -5em;
    right: -5em;
    overflow: hidden;
    background: lightblue;
    background-size: cover;
    background-position: center;
    min-height: 30em;
    max-height: 35em;
    width: 20em;
}
